.filter-input {
  box-sizing: border-box;
  display: inline-block;
  padding: .4em .5em;
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid #706f6f;
  border-radius: 6px;
  width: 99%;
}

.filter-wrap {
  min-width: 250px;
  display: inline-block;
}
.btn-wrap {
  display:inline-block ;
  vertical-align: middle;
}
.search-button {
  display: inline-block;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  line-height: normal;
  background: #fff url("/assets/icon-search-25.png") center no-repeat;
  border: 0;
  border-radius: 4px;
}
.flex_box1 {
  display: inline-block;
  flex:1;
}

